<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Event Detail</ion-title>
</ion-navbar>

<ion-content>
  <img src="{{event.imageUrl}}"/>

  <div >
    <div class="card-title">{{event.name}}</div>
    <div class="card-subtitle">{{event.venue}}</div>

    <div padding>
      <button outline block (click)="requestBountyButtonPressed()">Request Set Times</button>
      <button block>Add Set Times</button>
    </div>
  </div>

  <ion-card *ngFor="let setTimes of event.setTimes" (click)="goToSetTimes(setTimes)">
    <ion-card-header>
      {{setTimes.createdBy.username}}
    </ion-card-header>
    <ion-card-content>
      Rooms: {{setTimes.rooms.length}}
      Artists: {{getTotalArtists(setTimes)}}
    </ion-card-content>
  </ion-card>

</ion-content>
