<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Event Detail</ion-title>
</ion-navbar>

<ion-content>
  <img src="{{event.imageUrl}}"/>

  <div padding>
    <h3>{{event.name}}</h3>
    <h5>{{event.venue}}</h5>

    <button outline block (click)="requestBountyButtonPressed()">Request Set Times</button>
    <button block (click)="addSetTimesButtonPressed()">Add Set Times</button>
  </div>

  <h5 padding>Submitted Set Times</h5>
  <ion-card *ngFor="let setTimes of event.setTimes" (click)="goToSetTimes(setTimes)">
    <ion-card-header>
      {{setTimes.createdBy.username}}
    </ion-card-header>
    <ion-card-content>
      <p>Rooms: {{setTimes.rooms.length}}</p>
      <p>Artists: {{getTotalArtists(setTimes)}}</p>
      <p>Rating</p>
      <p>Vote Up</p>
      <p>Vote Down</p>
      <p>Summary of rooms / artists</p>

    </ion-card-content>
  </ion-card>

  <div padding>
    <button block>Buy Tickets</button>
  </div>

  <div padding>
    <h5>Venue</h5>
    <p>{{event.venue}}</p>
    <p>Insert map here</p>
  </div>

</ion-content>
