<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Set Times</ion-title>
</ion-navbar>

<ion-content>
  <ion-item-group>
    <div *ngFor="let room of setTimes.rooms">
      <ion-item-divider light>{{room.name}}</ion-item-divider>

      <ion-card *ngFor="let artist of room.artists">
        <img src="{{artist.imageUrl}}"/>
        <ion-card-content>
          <ion-card-title>
            {{artist.name}}
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-item-group>
</ion-content>
