<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{data.room.name ? data.room.name : 'Room'}}</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-list-header>
      Room Details
    </ion-list-header>

    <!-- NAME -->
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" placeholder="Main Room / Stage" [(ngModel)]="data.room.name"></ion-input>
    </ion-item>
    <!-- /NAME -->

    <!-- START TIME -->
    <ion-item>
      <ion-label stacked>Start Time</ion-label>
      <ion-datetime displayFormat="DDD D MMM HH:mm" pickerFormat="DDD D MMM YYYY HH:mm" [(ngModel)]="data.room.startTime"></ion-datetime>
    </ion-item>
    <!-- /START TIME -->
  </ion-list>

  <ion-list>
    <ion-list-header>
      Artists
    </ion-list-header>
    <a class="item" ion-item (click)="goToAddArtistPage()">
      <ion-label>
        Add an artist
      </ion-label>
      <ion-button-effect></ion-button-effect>
    </a>
  </ion-list>

  <div padding>
    <button outline block>Preview</button>
    <button outline block>Save</button>
    <button block>Submit</button>
  </div>
</ion-content>
