<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{data.artist.name ? data.artist.name : 'Artist'}}</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-list-header>
      Artist Details
    </ion-list-header>

    <!-- NAME -->
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" placeholder="Artist Name" [(ngModel)]="data.artist.name"></ion-input>
    </ion-item>
    <!-- /NAME -->

    <!-- IMAGE -->
    <img padding src="{{data.artist.imageUrl}}"/>
    <!-- /IMAGE -->

    <!-- START TIME -->
    <ion-item>
      <ion-label stacked>Start Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="data.artist.startTime"></ion-datetime>
    </ion-item>
    <!-- /START TIME -->

    <!-- END TIME -->
    <ion-item>
      <ion-label stacked>End Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="data.artist.endTime"></ion-datetime>
    </ion-item>
    <!-- /END TIME -->

    <!-- SPOTIFY BUTTON -->
    <div padding>
      <button block outline light (click)="goToArtistSearchPage()">
        <img src="img/logos/spotify-green.png" />
      </button>
    </div>
    <!-- /SPOTIFY BUTTON -->
  </ion-list>

  <save-buttons (previewButton)="previewButtonPressed()" (saveButton)="saveButtonPressed()" (submitButton)="submitButtonPressed()" (deleteButton)="deleteButtonPressed()"></save-buttons>
</ion-content>
