<ion-card>
  <img src="{{artist.images?.length ? artist.images[0].url : ''}}"/>
  <ion-card-content>
    <ion-card-title>
      {{artist.name}}
    </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
  <ion-row no-padding>
    <ion-col>
      <button clear danger small class="disable-hover button button-clear button-small button-icon-left button-clear-danger activated"><span class="button-inner">
        <ion-icon name="star" role="img" class="ion-ios-star" aria-label="star"></ion-icon>
        Notify Me
      </span><ion-button-effect></ion-button-effect></button>
    </ion-col>
    <ion-col text-center="">
      <button clear danger small class="disable-hover button button-clear button-small button-icon-left button-clear-danger"><span class="button-inner">
        <ion-icon name="musical-notes" role="img" class="ion-ios-musical-notes" aria-label="musical notes"></ion-icon>
        Listen
      </span><ion-button-effect></ion-button-effect></button>
    </ion-col>
    <ion-col text-right>
      <button clear danger small class="disable-hover button button-clear button-small button-icon-left button-clear-danger"><span class="button-inner">
        <ion-icon name="share-alt" role="img" class="ion-ios-share-alt" aria-label="share alt"></ion-icon>
        Share
      </span><ion-button-effect></ion-button-effect></button>
    </ion-col>
  </ion-row>
</ion-card>
