<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Create Set Times</ion-title>
</ion-navbar>

<ion-content>
  <scroll-content>
    <ion-list>
      <ion-list-header>
        Rooms
      </ion-list-header>
      <a class="item" ion-item (click)="editRoomButtonPressed(room)" *ngFor="let room of data.setTimes.rooms">
        <ion-label>
          {{room.name}}
        </ion-label>
        <ion-button-effect></ion-button-effect>
      </a>
      <a class="item" ion-item (click)="insertRoomButtonPressed()">
        <ion-label>
          Add a new room
        </ion-label>
        <ion-button-effect></ion-button-effect>
      </a>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Other Information
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-input type="text" placeholder="Any other details"></ion-input>
      </ion-item>
    </ion-list>

    <save-buttons (previewButton)="previewButtonPressed()" (saveButton)="saveButtonPressed()" (submitButton)="submitButtonPressed()" (deleteButton)="deleteButtonPressed()"></save-buttons>

  </scroll-content>

</ion-content>

<!-- FOOTER -->
<ion-toolbar position="bottom">
  Points for this event: {{data.points}}
</ion-toolbar>
<!-- /FOOTER -->
